<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body>
    <form class="signup-form" action="" method="post">
      <label for="email">Email:</label>
      <input id="email" type="text" name="email" /><br />
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" /><br />
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" /><br />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
